.header-container{
    display: flex;
    justify-content: center;
    height: 140px;
    box-shadow: 0 -35px 65px 0px var(--light-blue);
}

.header-parent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    min-width: 50%;
}

.header-logo{
    font-size: 70px;
    font-family: 'Poppins ExtraBold';
    color: var(--sea-green);
}

.header-options{
    display: flex;
    align-items: center;
}

.header-option{
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}

.header-option-seperator{
    margin: 0 50px 0 0;
}

.selected-header-option{
    color: var(--sea-green);
}