.resume-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.resume-card{
    display: flex;
    height: 360px;
    width: 1000px;
    margin: 80px 0;
    
}

.resume-bullets{
    box-shadow: 15px 0 59px -15px var(--light-blue-shadow);
    height: 100%;
    width: 320px;
}
.resume-bullet-details{
    display: flex;
    flex-grow: 1;
    padding: 0 0 0 80px
}

.bullet-container{
    display: flex;
    align-items: center;
     height: 100%;
     width: 34px;
     background-color: var(--sea-green);
}

.bullet{
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: var(--sea-green);
    height: 40px;
    margin: 15px 0;
    padding: 0 8px;
    border-radius: 20px;
    width: 30px;
    transition: width 0.4s ease;
}

.bullet-label {
    font-size: 15px;
    white-space: nowrap;
    font-family: 'Poppins SemiBold';
}

.bullet-logo {
    height: 18px;
    margin: 0 30px 0 0;
}

.selected-bullet {
    color: var(--white);
    width: 240px;
}

