.contact-me-map {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   height: 800px;
   width: 100%;
   position: relative;
   background-image: url('../../assets/ContactMe/address-map.png');
   background-repeat: no-repeat;
   background-position-x: center;
}

.contact-me-form {
    /* height: fit-content; */
    margin: 0 16% 0 0;
    width: 420px;
    padding: 28px 36px;
    border-radius: 2px;
    box-shadow: 0 0 50px var(--light-blue-shadow);
    background-color: var(--white);
}

.contact-form-heading {
    color: var(--sea-green);
    font-size: 30px;
    font-family: 'Poppins Bold';
}

.form-field-container {
    display: flex;
    flex-direction: column;
    margin: 18px 0 0 0;
}

.text-field {
    border: none;
    padding: 10px 24px;
    border-radius: 10px;
    margin: 0 0 18px 0;
    width: 90%;
    font-size: 13px;
    font-family: 'Poppins Light';
    box-shadow: 0 0 30px var(--light-blue-shadow);
}

.text-field-area {
    height: 120px
}

.text-field-container{
    position: relative;
}

.text-field-container p {
    position: absolute;
}

.text-field-error{
    height: 40px;
    width: 60%;
    display: flex;
    padding: 0 22px;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--error-message);
    border-radius: 10px;
    color: var(--white);
    position: absolute;
    z-index: 1;
    left: -74%;
    top: 4px;
    animation: fadeIn 0.6s ease;
}

.error-pointer{
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid var(--error-message);
    position: absolute;
    right: -5px;
}

.contact-me-submit-btn {
    border-radius: 50px;
    box-shadow: none !important;
    padding: 10px 0;
    width: 100%;
    font-size: 14px;
    cursor: pointer;
    margin: 0 0 18px 0;
    font-family: 'Poppins SemiBold';
}

@keyframes fadeIn {
    0% {
        transform: translateX(15px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

/* STANDARD SCREEN RESPONSIVENESS */
@media only screen and (max-width: 1366px) {
    .contact-me-map {
        height: 700px;
    }
}

/* IPAD PRO RESPONSIVENESS */
@media only screen and (max-width: 1110px) {

    .contact-me-form {
        margin: 0;
    }

    .contact-me-map {
        justify-content: center;
    }
    
    .text-field-error {
        width: 58%;
        left: -70%;
    }
}

/* IPAD PRO RESPONSIVENESS */
@media only screen and (max-width: 1024px) {
    .text-field-error {
        height: fit-content;
        width: fit-content;
        top: 64%;
        left: -5%;
        font-size: 12px;
        white-space: nowrap;
        background-color: transparent;
        color: var(--error-message)
    }

    .text-area-container .text-field-error {
        top: 84%;
    }

    .error-pointer {
        display: none;
    }
}

/* IPAD RESPONSIVENESS */
@media only screen and (max-width: 768px) {
    .contact-me-map{
        margin: 40px 0;
        background-image: none;
        height: fit-content;
    }
}