@font-face {
  font-family: 'Poppins Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins'), url('./assets/fonts/Poppins-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Poppins Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins'), url('./assets/fonts/Poppins-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Poppins SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins'), url('./assets/fonts/Poppins-SemiBold.ttf') format('ttf');
}

@font-face {
  font-family: 'Poppins Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins'), url('./assets/fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Poppins ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins'), url('./assets/fonts/Poppins-ExtraBold.ttf') format('ttf');
}

@font-face {
  font-family: 'Poppins Light';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins'), url('./assets/fonts/Poppins-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'Poppins Thin';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins'), url('./assets/fonts/Poppins-Thin.ttf') format('ttf');
}

* {
  outline: none;
}

body {
  margin: 0;
  font-family: 'Poppins Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.btn{
  border-radius: 50px;
  padding: 16px 0;
  width: 160px;
  cursor: pointer;
  transition: 0.2s;
  font-family: 'Poppins SemiBold';
}

.btn:active{
  transform: translateY(2px);
}

.primary-btn{
  color: var(--white);
  border: none;
  background-color: var(--sea-green-extra-dark);
  box-shadow: 0 16px 30px var(--sea-green-shadow);
}

.primary-btn:hover {
  box-shadow: 0 12px 28px var(--sea-green-shadow);
}

.highlighted-btn{
  color: var(--white);
  border: none;
  background-color: var(--orange);
  box-shadow: 0 16px 28px var(--orange-shadow);
}

.red-border {
  border: 1px solid var(--error-message) !important;
}

 .screen-container{
  height: 100vh !important;
  min-height: 768px;
} 