@font-face {
  font-family: 'Poppins Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins'), url('./assets/fonts/Poppins-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Poppins Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins'), url('./assets/fonts/Poppins-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Poppins SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins'), url('./assets/fonts/Poppins-SemiBold.ttf') format('ttf');
}

@font-face {
  font-family: 'Poppins Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins'), url('./assets/fonts/Poppins-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Poppins ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins'), url('./assets/fonts/Poppins-ExtraBold.ttf') format('ttf');
}

@font-face {
  font-family: 'Poppins Light';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins'), url('./assets/fonts/Poppins-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'Poppins Thin';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins'), url('./assets/fonts/Poppins-Thin.ttf') format('ttf');
}

body {
  margin: 0;
  font-family: 'Poppins Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
